{% extends 'chart_base.html' %}
{% load static %}
{% block content %}
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
      <h3><i class="fa fa-angle-right"></i> Chartjs Charts</h3>
      <!-- page start-->
      <div class="tab-pane" id="chartjs">
        <div class="row mt">
          <div class="col-lg-6">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Doughnut</h4>
              <div class="panel-body text-center">
                <canvas id="doughnut" height="300" width="400"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Line</h4>
              <div class="panel-body text-center">
                <canvas id="line" height="300" width="400"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt">
          <div class="col-lg-6">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Radar</h4>
              <div class="panel-body text-center">
                <canvas id="radar" height="300" width="400"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Polar Area</h4>
              <div class="panel-body text-center">
                <canvas id="polarArea" height="300" width="400"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt">
          <div class="col-lg-6">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Bar</h4>
              <div class="panel-body text-center">
                <canvas id="bar" height="300" width="400"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Pie</h4>
              <div class="panel-body text-center">
                <canvas id="pie" height="300" width="400"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Morris Charts</h3>
        <!-- page start-->
        <div id="morris">
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Chart Example 1</h4>
                    <div class="panel-body">
                        <div id="hero-graph" class="graph"></div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Chart Example 2</h4>
                    <div class="panel-body">
                        <div id="hero-bar" class="graph"></div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                    <h4><i class="fa fa-angle-right"></i> Chart Example 3</h4>
                    <div class="panel-body">
                        <div id="hero-area" class="graph"></div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Chart Example 4</h4>
                        <div class="panel-body">
                            <div id="hero-donut" class="graph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page end-->
    </section>
  
    <section class="wrapper">
        <!-- page end-->
        <h3><i class="fa fa-angle-right"></i>  XChart</h3>
        <!-- page start-->
        <div class="content-panel">
          <h4><i class="fa fa-angle-right"></i>  XChart Example</h4>
          <div class="panel-body">
            <figure class="demo-xchart" id="chart"></figure>
          </div>
        </div>




      
      <!-- page end-->
    </section>
  </section>
  <!-- /MAIN CONTENT -->
{% endblock %}