<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}

    <body id="page-top">
        <div id="wrapper">
            {% include "sidebar.html" %}
        

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    {% include "nav.html" %}
                    <div class="container-fluid">
                        {% block content %}
                        <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">

                        </div>

                        <div class="row">

                        </div>

                        <div class="row">

                        </div>
                        <div class="row">

                        </div> -->
                        {% endblock %}
                    </div>


                </div>
            </div>
        </div>
    </body>
</html>